@import '../variables';
@import './button';

.new-todo {
  max-width: 600px;
  width: 100%;
  text-align: center;

  &_form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 10px;
    border: 1px solid rgba($color, $alpha);
    border-radius: 5px;
  }

  &_input {
    border: none;
    border-bottom: 1px solid rgba($color, $alpha);
    padding-bottom: 3px;
    flex: 1;
  }

  &_input:focus {
    outline: none;
  }

  &_button {
    @include button;
    background-image: url(./../../assets/images/plus.png);
    margin-left: 10px;
  }
}
