@import '../variables';
@import './button';

.todo-list {
  max-width: 600px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;

  &_info {
    border-bottom: 1px solid rgba($color, $alpha);
    width: 100%;
  }

  &_list {
    list-style: none;
    padding: 0;
    margin: 10px 0 0;
    display: flex;
    flex-direction: column;
    gap: 5px;

    &_element {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 0;
      padding: 0 10px 0;
      border: 1px solid rgba($color, $alpha);
      border-radius: 5px;

      p {
        max-width: 70%;
        text-overflow: ellipsis;
        overflow: hidden;
      }

      &-nav {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5px;
      }

      &-completed {
        background-image: url(./../../assets/images/galochka.png);
        @include button;
      }

      &-not-completed {
        background-image: url(./../../assets/images/krestik.png);
        @include button;
      }

      &-remove {
        background-image: url(./../../assets/images/trash.png);
        @include button;
      }
    }
  }
}

.checked {
  text-decoration: line-through;
}
